.maincont{
    max-height: 100vh;
}

.userbar{
    overflow: auto;
}

.utente{
    border-bottom: 0.5px solid lightgray;
    
}

.utente img{
    width:40px;
    border-radius:20px;
}

.utente h1{
    font-size: 10px;
}

.utente p{
    font-size:10px;
}

.rightbar p{
   font-size: 10px;
}

.messagespace{
    background-image: url(/img/mine.jpg);
    height:100%;
    overflow: auto;
}

.messagesend{
    background-color: greenyellow;
    padding:10px;
    width:300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    position: relative;
    left:60%;
    
   
    
}

.messagerecived{
    background-color: white;
    padding: 10px;
    width:300px;
    margin-bottom:20px;
    margin-left:20px;
}